<nav id="nav-main" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Epoch Coffee</strong>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <.link navigate={~p"/products"} id="nav-products" class="navbar-item">
        <span class="icon"><i class="fas fa-store"></i></span>
        <span>Products</span>
      </.link>
      <.link navigate={~p"/cart/#{@cart_session_id}"} id="nav-cart" class="navbar-item">
        <span class="icon"><i class="fas fa-shopping-cart"></i></span>
        <span>Cart</span>
      </.link>
      <.link href="/spec" id="nav-spec" class="navbar-item">
        <span class="icon"><i class="fas fa-vial"></i></span>
        <span>Spec</span>
      </.link>
      <.link navigate={~p"/backoffice/inventory"} id="nav-backoffice" class="navbar-item">
        <span class="icon"><i class="fas fa-cogs"></i></span>
        <span>Backoffice</span>
      </.link>
    </div>
  </div>
</nav>

<.flash id="flash-error" kind={:error} flash={@flash} />

<div id="cart" class="box">
  <h3 class="title is-4">Shopping Cart</h3>

  {live_render(@socket, Epoch.Slices.CartItems.Live,
    id: "cart-items-live",
    session: %{"session_id" => @session_id}
  )}
</div>
